<div class="row mb-5">
	<div class="col">
		<input [(ngModel)]="searchTerm" name="searchTerm" type="text" (keyup.enter)="sendTerm()" class="form-control" placeholder="To search press enter...">
	</div>
</div>
<ng-container *ngIf="loading; else ready">
	<app-loading></app-loading>
</ng-container>
<ng-template #ready>
	<div class="card-columns">
		<app-heroes-card *ngFor="let hero of heroesService.heroesSearched" [hero]="hero" [page]="'search'" [term]="searchTerm"></app-heroes-card>
	</div>
</ng-template>
